body
{
    background-color: rgb(5, 17, 37);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

div
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
}

img,span
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.color-adj
{
    background-color: rgb(5, 17, 37);
    display: block;
}

.bg
{
    color: rgb(162, 71, 254);
    position: relative;
    background-image: url("./Thumbnails/milky-way.jpg");
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    box-shadow: 25px 25px 25px 0 rgba(5, 17, 37,0.5) inset, -45px -45px 90px 20px rgb(5, 17, 37) inset;
}

.bg::before
{
    content: "";
    background-color: rgba(5, 17, 37, 0.3);
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.top
{
    display: block;
    isolation: isolate;
}

.acc-img
{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 25px;
    border-color: rgb(128, 0, 255);
    cursor: pointer;
    background-image: url("./Thumbnails/DP_Twitter.jpg");
    background-size: contain;
    transition: box-shadow 0.5s,
    width 0.5s,
    height 0.5s,
    border-radius 0.5s;
}

.acc-img:hover 
{
    box-shadow: 0px 0px 20px 8px rgba( 255, 255, 0, 0.5);
    width: 65px;
    height: 65px;
    border-radius: 33px;
}

#CHECK:checked ~ #TOP
{
    height: 1000px;
}

.top-bar-txt
{
    vertical-align: top;
}

.top-bar-right-txt
{
    vertical-align: top;
    float: right;
}

.name-contain
{
    margin-top: 17px;
    transition: margin-top 0.5s;
}

.name-contain:hover
{
    margin-top: 12px;
}

.link-contain
{
    margin-top: 17px;
    transition: margin-top 0.5s;
}

.link-contain:hover
{
    margin-top: 12px;
}

.name
{
    font-family: Quicksand;
    border-radius: 22px;
    color: rgb(162, 71, 254);
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;  
    transition: background-color 0.5s,
    color 0.5s;
    transition: box-shadow 0.5s,
    background-color 0.5s,
    color 0.5s,
    font-weight 0.5s,
    font-size 0.5s;
}

.name:hover
{
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.5);
    background-color: white;
    color: rgb(11, 24, 54);
    font-weight: bolder;
    font-size: 27px;
    border-radius: 27px;
}

.soc-med
{
    vertical-align: top;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.insta
{
    cursor: pointer;
    background-image: url("./Thumbnails/insta-icon-2.png");
    width: 30px;
    height: 30px;
    margin-top: 16px;
    margin-right: 15px;
    margin-left: 15px;
    background-size: cover;
    border-radius: 7px;
    border-width: 0;
    transition: margin-top 0.2s,
    width 0.2s,
    height 0.2s,
    border-radius 0.2s,
    box-shadow 0.2s;
}

.insta:hover
{
    margin-top: 13px;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 8px rgba(251, 16, 143, 0.5);
}

.git
{
    cursor: pointer;
    background-image: url("./Thumbnails/github-icon-3.png");
    width: 30px;
    height: 29px;
    margin-top: 16px;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border-width: 0;
    transition: margin-top 0.2s,
    width 0.2s,
    height 0.2s,
    border-radius 0.2s,
    box-shadow 0.2s;
}

.git:hover
{
    margin-top: 13px;
    width: 36px;
    height: 35px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 8px rgba(100, 100, 100, 0.5);
}

.linkdn
{
    cursor: pointer;
    background-image: url("./Thumbnails/linkdn-icon.png");
    width: 30px;
    height: 30px;
    margin-top: 16px;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    border-width: 0;
    transition: margin-top 0.2s,
    width 0.2s,
    height 0.2s,
    border-radius 0.2s,
    box-shadow 0.2s;
}

.linkdn:hover
{
    margin-top: 13px;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 8px rgba(0, 119, 183, 0.5);
}

.fb
{
    cursor: pointer;
    background-image: url("./Thumbnails/facebook-icon.png");
    width: 30px;
    height: 30px;
    margin-top: 16px;
    background-size: cover;
    margin-right: 15px;
    background-position: center;
    border-radius: 15px;
    border-width: 0;
    transition: margin-top 0.2s,
    width 0.2s,
    height 0.2s,
    border-radius 0.2s,
    box-shadow 0.2s;
}

.fb:hover
{
    margin-top: 13px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 8px rgba(4, 137, 240, 0.5);
}

.other
{
    font-family: Quicksand;
    padding-top: 8px;
    font-size: 20px;
    padding-bottom: 8px;
    cursor: pointer;
    padding-right: 22px;
    transition: font-weight 0.5s,
    font-size 0.5s,
    text-shadow 0.5s;
}

.other:hover
{
    font-weight: bolder;
    font-size: 27px;
    text-shadow: 5px -5px 4px rgba(255, 255, 255, 0.5);
}

.middle-up
{
    background-image: linear-gradient(rgb(5, 17, 37), rgb(30, 30, 30));
    display: block;
    color: white;
    margin-bottom: -60px;
}


.mid-img
{    
    position: relative;
    isolation: isolate;
    min-height: 1000px;
    display: block;
    box-shadow: 45px 0px 90px -90px rgb(5, 17, 37) inset, -45px 0px 90px -90px rgb(30, 30, 30) inset;
}

.mid-img::before
{
    content: "";
    background-image: url("./Thumbnails/Screenshot\ \(729\)_3.png");
    opacity: 0.2;
    filter: blur(1px);
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -80px;
    right: 0px;
    bottom: -165px;
    left: 0px;
}

.mid-txt
{
    font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 50px;
    display: block;
    text-align: center;
}

.abt-me
{
    border-style: solid;
    border-width: 4px;
    border-color: white;
    min-height: 735px;
    max-width: 1300px;
    margin-right: 7%;
    margin-left: 6.5%;
    padding-left: 6.5%;
}

.abt-me-cont
{
    vertical-align: top;  
    margin-right: 40px;
    min-height: 735px; 
    max-width: 655px;
}

.abt-me-txt
{
    vertical-align: top;
    font-size: 50px;
    font-family: Quicksand;
    font-weight: bolder;
}

.abt-me-txt-sm
{
    vertical-align: top;
    font-size: 30px;
    font-family: Quicksand;
    font-weight: bolder;
}

.abt-me-txt-sm-sp
{
    vertical-align: top;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: bolder;
}

.prof-pic
{
    border: none;
    opacity: 0.9;
    isolation: isolate;
    margin-top: 110px;
    height: 625px;
    width: 500px;
    background-image: url("./Thumbnails/Profile_link_5.png");
    background-size: cover;
}

.middle-down
{
    background-image: linear-gradient(rgb(30, 30, 30), rgb(27, 27, 27), rgb(24, 24, 24), rgb(21, 21, 21), rgb(18, 18, 18), rgb(0, 0, 0));
    display: block;
    color: white;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 110px;
}

.mid-txt-low
{
    font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 50px;
    display: block;
    text-align: center;
}

.grid-cont
{
    display: grid;
    border: 2px solid white;
    grid-template-columns: auto auto auto;
    font-family: Quicksand;
    color: transparent;
    font-size: 50px;
    margin-left: 12%;
    margin-right: 12%;
}

.grid-item-py
{
    border: 2px solid white;
    color: white;
    text-align: center;
    padding-top: 146px;
    padding-bottom: 145px;
    padding-left: 36px;
    cursor: pointer;
    font-family: Arial;
    transition: opacity 0.3s,
    transform 0.3s,
    border-radius 0.3s;
}

.grid-item-py:hover
{
    opacity: 0.8;
    transform: scale(0.8);
    border-radius: 50px;
    border-width: 0px;
}

#py
{
    background-image: url("./Thumbnails/Python-logo.png");
    background-size: cover;
    background-position: left;
}

.grid-item-java
{
    border: 2px solid white;
    text-align: center;
    padding-top: 146px;
    padding-bottom: 145px;
    cursor: pointer;
    font-family: Arial;
    transition: opacity 0.3s,
    transform 0.3s,
    border-radius 0.3s;
}

.grid-item-java:hover
{
    opacity: 0.8;
    transform: scale(0.8);
    border-radius: 50px;
    border-width: 0;
}

#java
{
    background-image: url("./Thumbnails/java-logo.png");
    background-size: cover;
    background-position: center;
}

.grid-item-sql
{
    border: 2px solid white;
    text-align: center;
    padding-top: 162px;
    padding-bottom: 161px;
    padding-left: 36px;
    cursor: pointer;
    font-family: Arial;
    transition: opacity 0.3s,
    transform 0.3s,
    border-radius 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}

.grid-item-sql:hover
{
    opacity: 0.8;
    transform: scale(0.8);
    background-color: rgb(230, 137, 46);
    border-radius: 1000px;
    border-color: rgb(230, 137, 46);
    border-width: 16px;
    padding-top: 146px;
    padding-bottom: 145px;
    padding-left: 4px;
}

#sql
{
    background-image: url("./Thumbnails/mysql-logo.png");
    background-size: cover;
    background-position: center;
}

.grid-item-html
{
    border: 2px solid white;
    text-align: center;
    padding-top: 162px;
    padding-bottom: 161px;
    cursor: pointer;
    font-family: Arial;
    transition: opacity 0.3s,
    transform 0.3s,
    border-radius 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}

.grid-item-html:hover
{
    opacity: 0.8;
    transform: scale(0.8);
    background-color: rgb(255, 212, 59);
    border-radius: 1000px;
    border-color: rgb(255, 212, 59);
}

#html
{
    background-image: url("./Thumbnails/html-logo.png");
    background-size: cover;
    background-position: center;
}

.grid-item-css
{
    border: 2px solid white;
    text-align: center;
    padding-top: 162px;
    padding-bottom: 161px;
    cursor: pointer;
    font-family: Arial;
    transition: opacity 0.3s,
    transform 0.3s,
    border-radius 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}

.grid-item-css:hover
{
    opacity: 0.5;
    transform: scale(0.8);
    background-color: rgb(225, 31, 33);
    border-radius: 1000px;
    border-color: rgb(225, 31, 33);
}

#css
{
    background-image: url("./Thumbnails/css-logo.png");
    background-size: cover;
    background-position: center;
}

.grid-item-scratch
{
    border: 2px solid white;
    text-align: center;
    padding-top: 162px;
    padding-bottom: 161px;
    cursor: pointer;
    font-family: Arial;
    transition: opacity 0.3s,
    transform 0.3s,
    border-radius 0.3s;
}

.grid-item-scratch:hover
{
    opacity: 0.8;
    transform: scale(0.8);
    border-radius: 50px;
    border-width: 0;
}

#scratch
{
    background-image: url("./Thumbnails/scratch-logo.png");
    background-size: cover;
    background-position: center;
}

.Contact
{
    background-image: linear-gradient(black, rgb(5, 17, 37));
    display: block;
    color: white;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 110px;
}

.contact-head
{
    font-family: Sono;
    font-size: 50px;
    display: block;
    margin-left: 5%;
}

.contact-content
{
    vertical-align: top;
    font-size: 30px;
    font-family: Sono;
    margin-left: 5%;
    font-weight: bolder;
}

.contact-div
{
    display: block;
}

.contact-h
{
    margin: 0;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: text-decoration 0.2s;
}

.contact-h:hover
{
    text-decoration: underline;
}

.contact-h-val
{
    margin: 0;
    display: inline-block;
}

.insta-low
{
    cursor: pointer;
    background-image: url("./Thumbnails/insta-icon-2.png");
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
    background-size: cover;
    border-radius: 9px;
    border-width: 0;
    transition: margin-top 0.2s,
    margin-left 0.2s,
    margin-right 0.2s,
    width 0.2s,
    height 0.2s,
    border-radius 0.2s,
    box-shadow 0.2s;
}

.insta-low:hover
{
    width: 48px;
    margin-left: 11px;
    margin-right: 11px;
    height: 48px;
    border-radius: 11px;
    box-shadow: 0px 0px 10px 8px rgba(251, 16, 143, 0.5);
}

.git-low
{
    cursor: pointer;
    background-image: url("./Thumbnails/github-icon-3.png");
    width: 40px;
    height: 39px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border-width: 0;
    transition: margin-top 0.2s,
    margin-left 0.2s,
    margin-right 0.2s,
    width 0.2s,
    height 0.2s,
    border-radius 0.2s,
    box-shadow 0.2s;
}

.git-low:hover
{
    width: 48px;
    margin-left: 11px;
    margin-right: 11px;
    height: 47px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 8px rgba(100, 100, 100, 0.5);
}

.linkdn-low
{
    cursor: pointer;
    background-image: url("./Thumbnails/linkdn-icon.png");
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border-width: 0;
    transition: margin-top 0.2s,
    margin-left 0.2s,
    margin-right 0.2s,
    width 0.2s,
    height 0.2s,
    border-radius 0.2s,
    box-shadow 0.2s;
}

.linkdn-low:hover
{
    width: 48px;
    height: 48px;
    margin-left: 11px;
    margin-right: 11px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 8px rgba(0, 119, 183, 0.5);
}

.fb-low
{
    cursor: pointer;
    background-image: url("./Thumbnails/facebook-icon.png");
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border-width: 0;
    transition: margin-top 0.2s,
    margin-left 0.2s,
    margin-right 0.2s,
    width 0.2s,
    height 0.2s,
    border-radius 0.2s,
    box-shadow 0.2s;
}

.fb-low:hover
{
    width: 48px;
    height: 48px;
    margin-left: 11px;
    margin-right: 11px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 8px rgba(4, 137, 240, 0.5);
}